<router-outlet></router-outlet>
<!-- prettier-ignore -->
<markdown ngPreserveWhitespaces emoji>
  # Angular 14 - Routing 
  **Routing** is a mechanism that allows you to move from one view to another view in an Angular 14 application.
  In Angular 14, the **Router** is a service that allows you to configure routes to navigate from one view to another view.
    - **RouterOutlet**: It is a directive that marks where the router should display the components.
    - **RouterLink**: It is a directive that binds a link to a route.
    - **RouterLinkActive**: It is a directive that adds a CSS class when the link's route becomes active.

  ---
  ## Steps to configure routing in Angular 14
  1. **Import the RouterModule and Routes from &#64;angular/router package**.
  2. **Define the routes**.
  3. **Configure the routes**.
  4. **Add the RouterOutlet directive**.
  5. **Add the RouterLink directive**.
  6. **Add the RouterLinkActive directive**.

  ---

  ```css
    body &#123;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    &#125;
  ```

  ```typescript
    import &#123; RouterModule, Routes &#125; from '&#64;angular/router';
  ```

  ```typescript
    const routes: Routes = [
      &#123; path: 'home', component: HomeComponent &#125;,
      &#123; path: 'about', component: AboutComponent &#125;
    ];
  ```

  ```html
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
  ```


  I :heart: ngx-markdown :tada:
</markdown>
